/*miltä näyttää*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: Arial, Tahoma, sans-serif;
  }
  
  .control-buttons {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    background-color: rgba(250, 216, 220, 0.95);
  }
  
  .control-buttons span {
    position: absolute;
    left: 50%;
    top: 34%;
    transform: translate(-50%, -50%);
    color: #fff;
    background-color: #f06292;
    padding: 15px 25px;
    font-size: 36px;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .control-buttons span:hover {
    letter-spacing: 1px;
  }
  
  .info-container {
    width: 400px;
    margin: 10px auto;
    background-color: #fce4ec;
    padding: 10px 20px;
    font-size: 20px;
    border: 2px solid #ec407a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
  }
  @media (min-width: 768px) {
    .info-container {
      width: 750px;
      margin: 12px auto;
    }
  }
  @media (min-width: 992px) {
    .info-container {
      width: 950px;
    }
  }
  
  .info-container .name span {
    text-transform: capitalize;
  }
  
  .kortit {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 90px);
    justify-content: center;
    gap: 10px;
  }
  
  .kortit.no-clicking {
    pointer-events: none;
  }
  
  .kortit .kortti {
    width: 90px;
    height: 90px;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
  }
  
  @media (min-width: 768px) {
    .kortit {
      width: 750px;
      grid-template-columns: repeat(5, 140px);
    }
    .kortit .kortti {
      width: 140px;
      height: 140px;
    }
  }
  @media (min-width: 992px) {
    .kortit {
      width: 950px;
      grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    }
    .kortit .kortti {
      width: 160px;
      height: 160px;
    }
  }
  
  .kortit .kortti .front {
    background-color: #ffb6c1;
  }
  
  .kortit .kortti .front::before {
    content: "!";
    color: #fff;
    font-size: 50px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .kortit .kortti .back {
    background-color: #ffccbc;
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .kortit .kortti .back img {
    width: 80%;
    height: 80%;
  }
  
  .kortit .kortti .face {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    backface-visibility: hidden;
    border: 5px solid #ec407a;
  }
  
  .kortit .kortti.is-flipped,
  .kortit .kortti.has-match {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
    pointer-events: none;
  }
  
  table.result-table {
    width: 90vw;
    margin: 30px auto;
    text-align: center;
    text-transform: capitalize;
    position: relative;
    z-index: 100;
  }
  
  table.result-table th {
    padding: 10px;
    font-size: 14px;
    background-color: #7a1d4a;
    color: #fff;
  }
  
  table.result-table td {
    padding: 10px;
    font-size: 12px;
    background-color: #f8a5df;
  }
  
  @media (min-width: 768px) {
    table.result-table {
      width: 70vw;
    }
    table.result-table th {
      font-size: 18px;
    }
    table.result-table td {
      font-size: 16px;
    }
  }
  
  .win-screen {
    width: 100vw;
    height: 100vh;
    /* background-color: rgba(3, 169, 244, 0.8); */
    background-color: rgba(255, 255, 203, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 12;
    display: none;
  }
  
  .win-screen div {
    z-index: 10;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 30px;
    top: 25%;
  }
  
  .win-screen div.personal-best-msg {
    font-size: 20px;
    width: 90vw;
    text-align: center;
  }
  
  .win-screen #your-time {
    width: 300px;
    text-align: center;
    top: 32%;
    font-size: 24px;
    background-color: #ff5722;
    padding: 10px;
    color: #fff;
    border-radius: 10px;
  }
  
  #another-game-btn {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    font-size: 26px;
    background-color: #f06292;
    padding: 10px 20px;
    border-radius: 15px;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    width: 300px;
    text-align: center;
    z-index: 20;
    display: none;
  }
  
  @media (min-width: 768px) {
    .win-screen div {
      left: 49%;
    }
    .win-screen #your-time {
      top: 33%;
    }
    #another-game-btn {
      top: 43%;
    }
  }
  
  @media (min-width: 992px) {
    .win-screen #your-time {
      top: 30%;
    }
    #another-game-btn {
      top: 38%;
    }
  }
  
  #another-game-btn:hover {
    letter-spacing: 1px;
  }
  
